<ion-view view-title="Connexion">
  <ion-content ng-controller="LoginController" class="has-header">
    <div class="item item-image">
      <img src="img/mysnapchathome.jpg">
    </div>
    <label class="item item-input">
      <input type="email" ng-model="email" placeholder="Email">
    </label>
    <label class="item item-input">
      <input type="password" ng-model="password" placeholder="Mot de passe">
    </label>
    <button class="button button-block button-royal" ng-click="login()">
      Me connecter
    </button>
    {{erreur}}
    <a href="#/inscription">S'inscrire</a>
  </ion-content>
</ion-view>