<ion-view view-title="Snaps" >    
  <ion-content ng-controller="SnapController" class="has-header">
    <a class="item item-icon-left" href="#">
      <i class="icon ion-person-stalker"></i>
      Snaps
      <span class="badge badge-assertive">{{snaps}}</span>
    </a>
    <div class="list list-inset">
      <div class="item" ng-repeat="i in image">
       {{i.image}} 
      </div>
    </div>
  </ion-content>
  <div class="tabs tabs-icon-only" ng-controller="SnapController">
    <a class="tab-item">
      <i class="icon ion-home" ng-click="newsnap()"></i>
    </a>
    <a class="tab-item">
      <i class="icon ion-camera" ng-click="snap()"></i>
    </a>
    <a class="tab-item">
      <i class="icon ion-gear-a"></i>
    </a>
  </div>
</ion-view>  